{% include 'index.twig' %}
{% block styles %}{% endblock %}
{% block content %}
<div id="about" class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="margen">
				Hola yo soy el about
				<div class="q-1"></div>
				<div class="q-2"></div>
				<div class="q-3"></div>
				<div class="q-4"></div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block scripts %}{% endblock %}
