{% include 'index.twig' with {'var': 'contact'} %}
{% block content %}
  <div id="contact">
    <div class="cont-contact">
      <div class="left">
        <div id="line"></div>
        <div id="line2"></div>
        <div id="map"></div>
      </div>
      <div class="right">
        <div id="centrado">
          Make your reservation
          <form style="width: 100%" id="reserve-day" method="post" action="views/mailto.php">
            <input class="input-css" type="date" id="date" name="date">
            <br><select class="input-css" id="hour" name="hour">
              <option>6:00 p.m.</option>
              <option>6:30 p.m.</option>
              <option>7:00 p.m.</option>
              <option>7:30 p.m.</option>
            </select>
            <br><input class="input-css" placeholder="Name" id="name" name="name">
            <br><input class="input-css" placeholder="E-mail" id="email" name="email">
            <br><textarea class="input-css" placeholder="Message" rows="10" id="message" name="message"></textarea>
            <br><input type="submit" id="boton" value="Reserve">
          </form>
        </div>
        <div style="z-index: 890; padding-left: 40px">Plaza Solare Av. Sayil S/N, SM 6C, 77500 Cancún, dowtown</div>
      <div class="llegar">
        <a href="https://goo.gl/maps/APBwcDGds4K2">Get directions</a>
      </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
  <script src="assets/js/jquery-2.2.1.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#reserve-day").on('submit', function(){
        var that = $(this),
        url = that.attr('action'),
        type = that.attr('method'),
        data = {};
        that.find('[name]').each(function(index,value){
          var that = $(this),
          name = that.attr('name'),
          value=that.val();
          data[name]=value;
        });
        $.ajax({
          url:url,
          type:type,
          data:data,
          success:function(response){
            console.log(response);
          }
        });
        return false;
      });
    });
  </script>
	<script>
      function initMap() {
        var myLatLng = {lat: 21.149254244661698, lng: -86.82002848704722};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
          zoom: 18
        });

        // Create a marker and set its position.
        var imagen = {
        	url: 'assets/img/PIN.svg',
        	size: new google.maps.Size(30, 30),
        	anchor: new google.maps.Point(10,35)
        }
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: 'The Black Pub',
          icon: imagen
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3G6xUBUjX4zKAZKSUuvsOrnIyVWG-idE&callback=initMap"
        async defer></script>
{% endblock %}