{% include 'index.twig' with {'var': 'events'} %}
{% block content %}
	{# <div class="container"> #}
<div id="events">
	<div class="accordion">
		<ul>
			<li>
				<div id="lunes"> <a href="#lunes">
				<h2>MONDAY</h2>
					<p>Gourmet</p> 
					<p id="decolor">PIZZA + WINE $249</p>
					<p>Starting at 2 p.m.</p>
				</a> </div>
			</li>
			<li>
				<div id="martes"> <a href="#martes">
				<h2>TUESDAY</h2>
					<p id="decolor">Martinis & Mezcal</p>
					<p id="dosxuno">2 X 1</p>
					<p id="decolor">¡Acoustic Sessions!</p>
					<p>8 to 2 a.m. </p>
				</a> </div>
			</li>
			<li>
				<div id="miercoles"> <a href="#miercoles">
				<h2>WEDNESDAY</h2>
					<p>Ladies Night</p>
					<p id="decolor">Ron, Vodka, Tequila & Martinis.</p>
					<p>¡Sweet Emotions!</p>
					<p id="decolor">8 to 2 a.m. </p>
				</a> </div>
			</li>
			<li>
				<div id="jueves"> <a href="#jueves">
				<h2>THURSDAY</h2>
					<p>Caribean</p>
					<p id="decolor">Margaritas, Mojitos, & Piñas Coladas</p>
					<p id="dosxuno">2 X 1</p>
					<p id="decolor">¡The Movil Band!</p>
					<p>8 to 2 a.m. </p>
				</a> </div>
			</li>
			<li>
				<div id="viernes"> <a href="#viernes">
				<h2>FRIDAY</h2>
				<h2>& SATURDAY</h2>
					<p id="decolor">Live Rock</p>
					<p>¡The Wholliganz!</p>
				</a> </div>
			</li>
			{# <li>
				<div id="sabado"> <a href="#sabado">
				<h2>SATURDAY</h2>
					<p>Rock</p>
					<p>¡The Wholliganz!</p>
				</a> </div>
			</li> #}
		</ul>
	</div>
</div>
	{# </div> #}
{% endblock %}
{% block scripts %}
	<script>
		$('#expandme1').mouseenter(function(){
			$('#expandme1').animate({
				"width": "100%"
			},"slow");
		}).mouseleave(function(){
			$('#expandme1').animate({
				"width": "16%"
			},"slow");
		});
	</script>
{% endblock %}