{% include 'index.twig' with {'var': 'events'} %}
{% block content %}
	<div class="container">
<div id="events">
	<div class="accordion">
		<ul>
			<li>
				<div> <a href="#">
				<h2>MONDAY</h2>
				<p>
					Gourmet PIZZA + WINE $249 
					Starting at 2 p.m.
				</p>
				</a> </div>
			</li>
			<li>
				<div> <a href="#">
				<h2>TUESDAY</h2>
				<p>
					Martinis & Mezcal 2 X 1
					¡Acoustic Sessions!
					8 to 2 a.m 
				</p> 
				</a> </div>
			</li>
			<li>
				<div> <a href="#">
				<h2>WEDNESDAY</h2>
				<p>
					Ladies Night
					Ron, Vodka, Tequila & Martinis.
					¡Sweet Emotions!
				</p>
				</a> </div>
			</li>
			<li>
				<div> <a href="#">
				<h2>THURSDAY</h2>
				<p>
					Caribean
					Margaritas, Mojitos, & Piñas Coladas
					2 X 1
					¡The Movil Band!
				</p>
				</a> </div>
			</li>
			<li>
				<div> <a href="#">
				<h2>FRIDAY</h2>
				<p>
					Rock
					¡The Wholliganz!
				</p>
				</a> </div>
			</li>
			<li>
				<div> <a href="#">
				<h2>SATURDAY</h2>
				<p>
					Rock
					¡The Wholliganz!
				</p>
				</a> </div>
			</li>
		</ul>
	</div>
</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		$('#expandme1').mouseenter(function(){
			$('#expandme1').animate({
				"width": "100%"
			},"slow");
		}).mouseleave(function(){
			$('#expandme1').animate({
				"width": "16%"
			},"slow");
		});
	</script>
{% endblock %}