{% include 'index.twig' with {'var': 'events'} %}
{% block content %}
<div id="events">
	<div class="row" style="margin: 70px 70px 70px 70px;">
		<div id="expandme1" class="col-lg-2 border" style="background-color: white; color: black">MONDAY</div>
		<div id="expandme2" class="col-lg-2 border" style="background-color: black">TUESDAY</div>
		<div id="expandme3" class="col-lg-2 border" style="background-color: white; color: black">WEDNESDAY</div>
		<div id="expandme4" class="col-lg-2 border" style="background-color: black">THURSDAY</div>
		<div id="expandme5" class="col-lg-2 border" style="background-color: white; color: black">FRIDAY</div>
		<div id="expandme6" class="col-lg-2 border" style="background-color: black">SATURDAY</div>
	</div>
</div>
{% endblock %}
{% block scripts %}{% endblock %}