{% include 'index.twig' with {'var': 'events'} %}
{% block content %}
	<div class="container">
<div id="events">
	<div class="accordion">
		<ul>
			<li>
				<div> <a href="#">
				<h2>MONDAY</h2>
				<p>Content 1</p>
				</a> </div>
			</li>
			<li>
				<div> <a href="#">
				<h2>TUESDAY</h2>
				<p>Content 2</p>
				</a> </div>
			</li>
			<li>
				<div> <a href="#">
				<h2>WEDNESDAY</h2>
				<p>Content 3</p>
				</a> </div>
			</li>
			<li>
				<div> <a href="#">
				<h2>THURSDAY</h2>
				<p>Content 4</p>
				</a> </div>
			</li>
			<li>
				<div> <a href="#">
				<h2>FRIDAY</h2>
				<p>Content 5</p>
				</a> </div>
			</li>
			<li>
				<div> <a href="#">
				<h2>SATURDAY</h2>
				<p>Content 6</p>
				</a> </div>
			</li>
		</ul>
	</div>
</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		$('#expandme1').mouseenter(function(){
			$('#expandme1').animate({
				"width": "100%"
			},"slow");
		}).mouseleave(function(){
			$('#expandme1').animate({
				"width": "16%"
			},"slow");
		});
	</script>
{% endblock %}