{% include 'index.twig' %}
{% block styles %}
  <link rel="stylesheet" href="assets/masterslider/style/masterslider.css">
  <link rel='stylesheet' href="assets/masterslider/skins/default/style.css">


{% endblock %}

{% block content %}
<div id="slider">
    <div class="master-slider ms-skin-default" id="masterslider">    
      {% for slide in local.slider %}
          <div class="ms-slide">
            <img src="assets/masterslider/style/blank.gif" data-src="{{ slide }}" />
          </div>
      {% endfor %}
      {# <div class="ms-slide">
        <img src="assets/masterslider/style/blank.gif" data-src="http://placehold.it/1366x768"/>
      </div>
      <div class="ms-slide">
        <img src="assets/masterslider/style/blank.gif" data-src="http://placehold.it/1366x768"/>
      </div>
      <div class="ms-slide">
        <img src="assets/masterslider/style/blank.gif" data-src="http://placehold.it/1366x768"/>
      </div> #}
    </div>
</div>
{% endblock %}

{% block scripts %}
	<script src="assets/masterslider/masterslider.min.js"></script>

    <script type="text/javascript">
    var slider = new MasterSlider();
    slider.control('arrows');     
    slider.control('scrollbar' , {dir:'h',color:'#333'});
    slider.setup('masterslider' , {
      width:1366,
      layout: "autofill",
      space:0,
      view:'parallaxMask',
      keyboard: true,
      loop: true,
      autoplay: true
    });
    </script>
{% endblock %}