#about
	height 100vh
	background-color white
	.margen
		position relative
		padding 10px
		border 2px solid white;
		width 100%
		height 50vh	
		margin-top 100px
		.q-1,.q-2,.q-3,.q-4
			position absolute
			border 2px solid white
			height 60px
			width 60px
		.q-1
			top -30px
			left -30px
		.q-2
			top -30px
			right -30px
		.q-3
			bottom -30px
			left -30px
		.q-4
			bottom -30px
			right -30px
		
	