$a-height = calc(100vh - 103px)
$text-offset = calc($a-height - 90px)
#events
	// margin: 70px
	height: $a-height
	.accordion
		width: 100%
		// max-width: 1024px
		height: $a-height
		overflow: hidden
		margin: 0 auto
		// margin-top: 20px
		// margin-bottom: 20px
		ul
			width: 100%
			display: table
			table-layout: fixed
			margin: 0
			padding: 0
			li
				display: table-cell
				vertical-align: bottom
				position: relative
				width: 16.666%
				height: $a-height
				background-repeat: no-repeat
				background-position: center center
				background-size: cover
				transition: all 500ms ease
				text-align: center
				div
					display: block
					height: $a-height
					width: 100%
					border: 3px solid white
					a
						display: block
						height: $a-height
						width: 100%
						position: relative
						z-index: 3
						vertical-align: bottom
						padding: 15px 25px
						box-sizing: border-box
						color: #fff
						text-decoration: none
						transition: all 200ms ease
						background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
						*
							opacity: 0
							margin: 0
							width: 100%
							// text-overflow: ellipsis
							position: relative
							z-index: 5
							white-space: nowrap
							overflow: hidden
							// -webkit-transform: translateX(0)
							// transform: translateX(0)
							-webkit-transition: all 400ms ease
							transition: all 400ms ease
						h2
							text-overflow: clip
							opacity: 1
							font-size: 20px
							text-transform: uppercase
							margin-bottom: 2px
							letter-spacing: -1px
							// text-align: center
							font-weight: bold
						p
							padding-top: 25px
							font-size: 30px
							text-align: center
							font-weight: bold
							text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
							+for_breakpoint(mobile)
								font-size: 25px
								
						#dosxuno
							text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
						#decolor
							color: #BFAB62
							
								
			li:nth-child(1)
				background-image: url("../assets/img/lunes.jpg")
			li:nth-child(2)
				background-image: url("../assets/img/martes.jpg")
			li:nth-child(3)
				background-image: url("../assets/img/slider/barralibre.png")
			li:nth-child(4)
				background-image: url("../assets/img/jueves.jpg")
			li:nth-child(5)
				background-image: url("../assets/img/viernes.jpg")
			// li:nth-child(6)
			// 	background-image: url("../assets/img/home.jpg")
				
			&:hover li
				width: 8%
				&:hover
					width: 60%
					a
						background: rgba(0, 0, 0, .1)
						*
							opacity: 1
							// -webkit-transform: translateX(0)
							// transform: translateX(0)
	@media screen and (max-width: 600px)
		.accordion
			height: auto
			ul,ul:hover
				li,li:hover
					position: relative
					display: table
					table-layout: fixed
					width: 100%
					-webkit-transition: none
					transition: none