$h_slider = calc(100vh - 103px)
$h_sliderMobile = calc(100vh - 58px)

#home
	#slider
		height $h_slider
		+for_breakpoint(mobile)
			height $h_sliderMobile
		+for_breakpoint(tablet)
			height $h_sliderMobile
		#txtSlider
			font-size: 4em
			+for_breakpoint(mobile)
				font-size: 10.5em
			.bordered
				text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
				color: #E4D14E
				letter-spacing: -4px
			p
				text-align: center
				line-height: 100%
			#medium
				font-size: .57em
				
			#small
				font-size: .4em
			#btnSlide
				border: none
				background: none
				font-size: .5em
				margin-right: 50px
				text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000