#navbar
	position relative
	background-image url('../assets/img/brickwall.png')
	border none
	border-radius 0px
	font-family: 'Libre Baskerville', serif;
	margin-bottom 0px
	.navbar-header
		.hamburger
			padding-left 15px
			padding-right 15px
			background-color transparent
			float right
			+for_breakpoint(mobile)
				display block !important;
			+for_breakpoint(tablet)
				display block !important;
			.hamburger-inner
				background-color white
				&:before
					background-color white
				&:after
					background-color white
			&:focus
				outline none
	.navbar-collapse
		+for_breakpoint(mobile)
			border-top 3px solid rgba(0,0,0,0.5)
		+for_breakpoint(tablet)
			border-top 3px solid rgba(0,0,0,0.5)
		.navbar-nav
			width 100%
			margin 0px
			.center
				display block
				text-align -webkit-center
				li
					display inline-block
					height 100%
					padding 39px 20px
					+for_breakpoint(desktop)
						padding 39px 7px
					+for_breakpoint(mobile)
						padding 5px
						width 100%
					+for_breakpoint(tablet)
						padding 5px
						width 100%						
					a
						font-size 1.3em
						color white !important
						&:focus
							text-decoration none
						&:hover
							text-decoration none
							opacity 0.5
						.active
							border-bottom 2px solid #BFAB62
							+for_breakpoint(mobile)
								border-bottom none
								color #c4c4c4
							+for_breakpoint(tablet)
								border-bottom none
								color #c4c4c4	
	.logo-black
		position absolute
		transform translate(40px,-1px)	
		z-index 9999
		width 120px
		+for_breakpoint(mobile)
			width 60px
			transform translate(30px,-1px)
		+for_breakpoint(tablet)
			width 60px
			transform translate(30px,-1px)
		+for_breakpoint(desktop)
			width 100px
			transform translate(10px,-1px)	
			